$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$times-circle: "\e9db";
$email3: "\e9dc";
$envelope1: "\e9dd";
$videoEmail: "\e9b6";
$thumbs-down: "\e9b3";
$thumbs-up: "\e9b4";
$git-branch: "\e9ac";
$git-pull-request: "\e9ad";
$mic: "\e998";
$mic-off: "\e999";
$smartphone: "\e99a";
$tablet: "\e99b";
$video1: "\e99c";
$video-off: "\e99d";
$airplay: "\e91c";
$alert-circle: "\e971";
$alert-triangle: "\e972";
$align-center: "\e945";
$align-justify: "\e946";
$align-left: "\e947";
$align-right: "\e948";
$archive: "\e97b";
$arrow-down-circle: "\e97c";
$arrow-left: "\e91d";
$arrow-left-circle: "\e97d";
$arrow-right: "\e91e";
$arrow-right-circle: "\e97e";
$arrow-up-circle: "\e97f";
$bar-chart: "\e949";
$bar-chart-2: "\e94a";
$bell: "\e954";
$bell-off: "\e955";
$book: "\e956";
$book-open: "\e957";
$bookmark: "\e958";
$briefcase: "\e980";
$camera: "\e91f";
$check-circle: "\e960";
$chevron-down: "\e959";
$chevron-left: "\e95a";
$chevron-right: "\e95b";
$chevron-up: "\e95c";
$chevrons-down: "\e94b";
$chevrons-up: "\e94c";
$chrome: "\e95d";
$circle: "\e961";
$code1: "\e942";
$copy: "\e962";
$corner-up-left: "\e920";
$corner-up-right: "\e921";
$database: "\e981";
$dollar-sign: "\e98c";
$download-cloud: "\e922";
$edit-2: "\e923";
$edit-3: "\e924";
$external-link: "\e963";
$eye3: "\e964";
$film: "\e965";
$filter: "\e925";
$folder1: "\e966";
$folder-minus: "\e967";
$folder-plus: "\e968";
$gift: "\e969";
$globe: "\e926";
$grid: "\e927";
$hard-drive: "\e982";
$heart: "\e96a";
$home: "\e928";
$image1: "\e951";
$layers: "\e929";
$layout: "\e983";
$link: "\e95e";
$lock: "\e95f";
$mail: "\e952";
$maximize: "\e92a";
$menu: "\e94d";
$minus: "\e94e";
$more-horizontal: "\e92b";
$more-vertical: "\e92c";
$paperclip: "\e973";
$pie-chart: "\e92d";
$plus: "\e94f";
$plus-circle: "\e98e";
$refresh-ccw: "\e92e";
$rotate-ccw: "\e92f";
$rotate-cw: "\e930";
$save: "\e931";
$scissors: "\e932";
$search: "\e933";
$send: "\e934";
$server: "\e935";
$settings: "\e936";
$share1: "\e96b";
$share-2: "\e943";
$shopping-bag: "\e96c";
$shopping-cart: "\e96d";
$sidebar: "\e984";
$sliders: "\e950";
$square: "\e96e";
$star: "\e937";
$tag: "\e96f";
$tool: "\e938";
$trash: "\e939";
$trash-2: "\e93a";
$trending-up: "\e944";
$type: "\e970";
$upload-cloud: "\e93b";
$user: "\e974";
$user-check: "\e975";
$user-minus: "\e976";
$user-plus: "\e977";
$user-x: "\e978";
$users: "\e979";
$volume: "\e93c";
$volume-1: "\e93d";
$volume-2: "\e93e";
$volume-x: "\e93f";
$watch: "\e953";
$x: "\e97a";
$zoom-in: "\e940";
$zoom-out: "\e941";
$clock1: "\e9cd";
$mouse-pointer: "\e9bb";
$youtube1: "\e9bc";
$user1: "\e9b7";
$users1: "\e9b8";
$error_outline: "\e9de";
$error: "\e9df";
$videoEmail1: "\e9d2";
$mail2: "\e9d3";
$alert-circle1: "\e9d5";
$alert-triangle1: "\e9d4";
$film1: "\e9d6";
$contacts-svgrepo-com: "\e9b5";
$promoters: "\e9b1";
$detractor: "\e9b2";
$passive: "\e9b0";
$folder2: "\e98d";
$button1: "\e989";
$action: "\e98a";
$buy-button: "\e98b";
$youtube: "\e985";
$button-path1: "\e987";
$button-path2: "\e988";
$branding: "\e986";
$form: "\e91b";
$online-video: "\e91a";
$mail-send: "\e918";
$email: "\e919";
$message: "\e904";
$stop2: "\e905";
$stop: "\e906";
$pause2: "\e907";
$pause: "\e908";
$play-button: "\e909";
$play-button-arrowhead: "\e90a";
$video-player2: "\e90b";
$video: "\e90c";
$multimedia: "\e90d";
$video-player3: "\e90e";
$video-player: "\e90f";
$code: "\e910";
$map: "\e911";
$timer2: "\e912";
$stopwatch: "\e913";
$website: "\e914";
$share: "\e915";
$list: "\e916";
$image: "\e917";
$promotion: "\e900";
$megaphone: "\e901";
$sticky-notes: "\e902";
$text-box: "\e903";
$message3: "\e9da";
$mail-send1: "\e9d9";
$email2: "\e9d7";
$message2: "\e9d8";
$eye: "\e9c6";
$vision: "\e9c6";
$view: "\e9c6";
$hourglass: "\e9c7";
$timer: "\e9c7";
$loading: "\e9c7";
$chronometer: "\e9c8";
$timer1: "\e9c8";
$clock: "\e9c8";
$one-finger-click3: "\e9d0";
$one-finger-click4: "\e9d1";
$eye1: "\e9c9";
$eye2: "\e9ca";
$one-finger-click: "\e9cb";
$one-finger-click2: "\e9cc";
$one-finger-click1: "\e9b9";
$one-finger-click11: "\e9ba";
$chat: "\e9e0";
$envelope2: "\e9e1";
$envelope: "\e9e2";
$mail1: "\e9e2";
$email1: "\e9e2";
$letter: "\e9e2";
$message1: "\e9e2";
$error1: "\e9e3";
$mail-error: "\e9e4";
$mail-error1: "\e9e5";
$back-arrow: "\e9ae";
$vimeo-1: "\e9ab";
$letter-p: "\e9a8";
$giphy: "\e9a9";
$video-files: "\e9aa";
$Wistia-logo: "\e9a7";
$dropbox: "\e9af";
$computer-screen: "\e9a4";
$monitor: "\e9a5";
$webcam: "\e9a6";
$authorizenet-path1: "\e99e";
$authorizenet-path2: "\e99f";
$stripe-path1: "\e9a0";
$stripe-path2: "\e9a1";
$paypal-path1: "\e9a2";
$paypal-path2: "\e9a3";
$list1: "\e995";
$list-interface-symbol: "\e996";
$calendar: "\e997";
$question: "\e98f";
$credit-card: "\e990";
$smiling-emoticon-square-face: "\e991";
$microphone: "\e992";
$video-call: "\e993";
$video-chat: "\e994";
$text-height: "\ea5f";
$text-width: "\ea60";
$font-size: "\ea61";
$bold: "\ea62";
$underline: "\ea63";
$italic: "\ea64";
$strikethrough: "\ea65";
$clear-formatting: "\ea6f";
$paragraph-left: "\ea77";
$paragraph-center: "\ea78";
$paragraph-right: "\ea79";
$paragraph-justify: "\ea7a";
$indent-increase: "\ea7b";
$indent-decrease: "\ea7c";
$clock2: "\e9ce";
$stopwatch1: "\e9cf";
$bubble: "\e9bd";
$bubbles: "\e9be";
$bubbles2: "\e9bf";
$bubble2: "\e9c0";
$bubbles3: "\e9c1";
$bubbles4: "\e9c2";
$spinner3: "\e9c3";
$spinner6: "\e9c4";
$spinner7: "\e9c5";

